.inputsContainer {
  display: flex;
  flex-direction: column;
}

.input {
  border: solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(240, 242, 247);
  box-shadow: none;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
  height: 33px;
}

.dropDownContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.dropDown {
  border: 1px solid rgb(240, 242, 247);
  border-radius: 8px;
  width: 120px;
  background-color: #ffffff;
  outline: none;
  padding: 8px;
}
