.inputsContainer {
  display: flex;
  flex-direction: column;
}

.input {
  border: solid;
  border-radius: 8px;
  border-width: 2px;
  border-color: rgb(240, 242, 247);
  box-shadow: none;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

.dropDownContainer {
  display: flex;
  gap: 8px;
}

.dropDown {
  /* border-radius: 8px; */
  /* padding: 5px; */
  /* border-color: rgb(240, 242, 247); */
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  outline: none;
  padding: 8px;
}
