.card {
  background-color: rgb(252, 252, 252);
  border-radius: 20px;
  padding: 45px;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.2);
  width: 330px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
