.card {
  background-color: rgb(252, 252, 252);
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.2);
  width: 230px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}