html, body {
  height: 100dvh;
  margin: 0;
  background-color: rgb(221, 230, 242);
}

.title {
  font-size: 42;
}

.subTitle {
  font-size: 13;
  text-transform: uppercase;
}

.defaultText {
  font-size: 16px;
}