*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100dvh;
  margin: 0;
  background-color: rgb(221, 230, 242);
}

p {
  margin: 8px 3px;
}

.title {
  font-size: 42px;
  margin: 1px;
}

.subTitle {
  font-size: 13px;
  text-transform: uppercase;
  color: darkgray;
}

.defaultText {
  font-size: 16px;
}
