.mainContainer {
  background-color: rgb(221, 230, 242);
  display: flex;
  flex-direction: column;
}

.mainPage {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}