.mainPage {
  max-width: 800px;
  background-color: lightgreen;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}