.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.mainPage {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  flex-grow: 1;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.mainPageFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
